/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');

/* common css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-section{
    background-image: url(./images/travel-agency/banner.png);background-repeat: no-repeat;background-size:cover;
}
body{
    font-family: 'Volkhov', serif;
}
.fa-location-arrow{
    font-size: 20px;
    padding-right:10px;
}
.traveller-img img{
    width: 100%;
    
}
.travel{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.hero-p{
    color:#DF6951;font-size: 20px;
}
.hero-title{
    color:#181E4B;font-size: 80px;
    font-weight: 700;
}
.hero-link a{
    background-color:#F1a501;
    color:white;text-decoration: none;
    
}
.hero-link-2 {
    text-decoration: none;
    font-size: 16px;
    
}
.fa-play-circle{
    font-size: 56px;
    
}
.category-section{
    background-image: url(./images/travel-agency/Frame59.jpg);
    padding: 50px 0;
    background-size: cover;
     background-repeat: no-repeat;
     background-position:right top;
     background-attachment: fixed;
}
.category-img img{
width: 90px;
height: 80px;
}
.category-des h3{
    font-size: 16px;
    padding:10px 0 0 0;
}
.course{
    border-radius: 25px;
}
.course-title{
    color:#080809;
    padding-top: 20px;
   

}
.course-excerpt{
 color:  #84829A;
}

@media only screen and (max-width:688px) {
    .traveller-img img{
        width: 100%;  
    }
    .hero-link a{
        font-size: 16px;
        padding: none;
    }
    .travel{
      
        grid-template-columns: repeat(1,1fr);
    }
    .hero-title{
        font-size:50px;
        text-align: center;
       
    }
}
@media only screen and (min-width:688px) and (max-width:992px) {
   
    .travel{
      
        grid-template-columns: repeat(1,1fr);
    }
}